.background {
    background-image: linear-gradient(#6D6C6C, #222121);
    min-height: 100vh;
    background-size: 500% 500%;
    animation: move 5s alternate infinite;
}


@keyframes move {
    from {
        background-position: 0%;
    }


    to {
        background-position: 100% 100%;
    }
}

.csetliColor{
    background: linear-gradient(to right, #FD0303ff, #D95E2Eff);
    background-clip: text;
    -webkit-background-clip: text;

    color: transparent;
}

.icon{
    width: 25px;
    margin: 5px;
}

.navbar{
    background: linear-gradient(to right, #FD0303ff, #D95E2Eff);
    height: 50px;
}
